<div class="update-user-info-wrapper" novalidate>
    <form [formGroup]="contactForm" class="form" autocomplete="new-password">
        <div class="update-user-info-wrapper__row">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="!contactForm.controls['name'].valid && 
                contactForm.controls['name'].touched">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="update-user-info-wrapper__row">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{gender}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!contactForm.controls['gender'].valid && 
                contactForm.controls['gender'].touched">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="update-user-info-wrapper__row">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <mat-label>Married</mat-label>
                <mat-select formControlName="married">
                    <mat-option *ngFor="let status of statusValues" [value]="status">
                        {{status}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!contactForm.controls['married'].valid && 
                contactForm.controls['married'].touched">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="update-user-info-wrapper__row">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <input matInput placeholder="Date of Birth" formControlName="dob">
                <mat-error *ngIf="!contactForm.controls['dob'].valid && 
                contactForm.controls['dob'].touched">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>



        <div class="update-user-info-wrapper__row" *ngIf="showHusbandName">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <mat-label>Husband's Name</mat-label>
                <input matInput placeholder="Husband's Name" formControlName="husbandName">
                <mat-error *ngIf="!contactForm.controls['husbandName'].valid && 
                contactForm.controls['husbandName'].touched">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="update-user-info-wrapper__row" *ngIf="!showHusbandName">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <mat-label>Father's Name</mat-label>
                <input matInput placeholder="Father's Name" formControlName="fatherName">
                <mat-error *ngIf="!contactForm.controls['husbandName'].valid && 
                contactForm.controls['fatherName'].touched">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="update-user-info-wrapper__row">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <input matInput placeholder="Phone Number" formControlName="phoneNo">
                <mat-error *ngIf="!contactForm.controls['phoneNo'].valid && 
                contactForm.controls['phoneNo'].touched">
                    Phone number should be in the format e.g. (308)-135-7895 or 308-135-7895
                </mat-error>
            </mat-form-field>
        </div>


        <div class="update-user-info-wrapper__row">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <input matInput placeholder="Aadhar Number" formControlName="aadharNo">
                <mat-error *ngIf="!contactForm.controls['aadharNo'].valid && 
                contactForm.controls['aadharNo'].touched">
                    {{getAadharNoError()}}
                </mat-error>
            </mat-form-field>
        </div>


        <div class="update-user-info-wrapper__row">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <input matInput placeholder="PAN Number" formControlName="panNo">
                <mat-error *ngIf="!contactForm.controls['panNo'].valid && 
                contactForm.controls['panNo'].touched">
                    {{getPanNoError()}}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="update-user-info-wrapper__row">
            <mat-form-field class="form-element update-user-info-wrapper__form-field">
                <input matInput placeholder="State Residing in" formControlName="state" autocomplete="new-password"
                    (click)="togglePanel()" id="stateInput" #stateInput>
                <app-autocomplete [data]="statesList" [parentControl]="contactForm.get('state')"></app-autocomplete>
                <mat-error *ngIf="!contactForm.controls['state'].valid && 
                contactForm.controls['state'].touched">
                    Required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="update-user-info-wrapper__row">
            <button mat-raised-button color="primary" (click)="saveUser.emit(contactForm.value)"
                [disabled]="!contactForm.valid"
                class="form-element update-user-info-wrapper__btn update-user-info-wrapper__btn-save">Save</button>

        </div>
    </form>
</div>