.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #cccccc;
  }

  a:hover {
    text-decoration: none;
    color: #cccccc;
  }

//   .nav-tabs > li {
//     float: left;
//     margin-bottom: -1px;
// }
// .nav > li {
//   position: relative;
//   display: block;
// }