.user-info-wrapper {
    &__table {
        width: 100%;
        margin: 10px auto;
    }
    &__add-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        float: right;
        margin-right: 10%;
        width: 140px;
        height: 50px;
        font-size: 18px;
    }

    &__no-data {
        border: 1px solid darkgrey;
        width: 250px;
        height: 50px;
        margin: 50px auto;
        padding: 30px;
        font-size: 26px;
        border-radius: 5px;        
    }
}

tr.mat-row,
tr.mat-footer-row {
    height: 55px;
}