<div class="user-info-wrapper"> 
    <div class="row user-info-wrapper__add-btn-container pull-right">
        <button mat-raised-button color="primary" class="user-info-wrapper__add-btn" (click)="addUser.emit()">Add User</button>
    </div> 
    <ng-container *ngIf="userInfo else noData;">
        <table mat-table [dataSource]="userInfo" class="mat-elevation-z8 user-info-wrapper__table">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let user"> {{user.name}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let user"> {{user.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="married">
                <th mat-header-cell *matHeaderCellDef> Marital Status </th>
                <td mat-cell *matCellDef="let user"> {{user.married}} </td>
            </ng-container>

            <ng-container matColumnDef="fatherName">
                <th mat-header-cell *matHeaderCellDef> Father's Name </th>
                <td mat-cell *matCellDef="let user"> {{user.fatherName}} </td>
            </ng-container>

            <ng-container matColumnDef="husbandName">
                <th mat-header-cell *matHeaderCellDef> Husband's Name </th>
                <td mat-cell *matCellDef="let user"> {{user.husbandName}} </td>
            </ng-container>

            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef> DOB </th>
                <td mat-cell *matCellDef="let user"> {{user.dob}} </td>
            </ng-container>

            <ng-container matColumnDef="phoneNo">
                <th mat-header-cell *matHeaderCellDef> Phone No. </th>
                <td mat-cell *matCellDef="let user"> {{user.phoneNo}} </td>
            </ng-container>

            <ng-container matColumnDef="aadharNo">
                <th mat-header-cell *matHeaderCellDef> Aadhar No. </th>
                <td mat-cell *matCellDef="let user"> {{user.aadharNo}} </td>
            </ng-container>

            <ng-container matColumnDef="panNo">
                <th mat-header-cell *matHeaderCellDef> PAN No. </th>
                <td mat-cell *matCellDef="let user"> {{user.panNo}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> State residing in </th>
                <td mat-cell *matCellDef="let user"> {{user.state}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let user">
                    <button mat-raised-button color="primary" (click)="editUser.emit(user)">Edit</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </ng-container>
    <ng-template #noData>
        <div class="user-info-wrapper__no-data">
            Sorry ! No data found.
        </div>
    </ng-template>    
</div>